echefula/echefula/__pycache__/__init__.cpython-310.pyc
echefula/echefula/__pycache__/settings.cpython-310.pyc
echefula/echefula/__pycache__/urls.cpython-310.pyc
echefula/echefula/__pycache__/wsgi.cpython-310.pyc
echefula/db.sqlite3
